annotated-types==0.7.0
anyio==3.7.1
asgiref==3.8.1
asyncio==3.4.3
bidict==0.22.1
certifi==2022.12.7
chardet==4.0.0
click==8.1.7
dnspython==2.6.1
email_validator==2.2.0
exceptiongroup==1.2.2
fastapi==0.52.0
fastapi-cli==0.0.4
h11==0.14.0
httpcore==1.0.5
httptools==0.3.0
httpx==0.27.0
idna==2.10
Jinja2==3.1.4
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
neo-api-client @ git+https://github.com/Kotak-Neo/kotak-neo-api.git@67143c58f29da9572cdbb273199852682a0019d5
numpy==1.24.2
oauthlib==3.2.2
pandas==2.0.0
pydantic==0.32.2
pydantic_core==2.20.1
Pygments==2.18.0
pyjsparser==2.7.1
PyJWT==2.6.0
pymongo==4.8.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-multipart==0.0.9
pytz==2024.1
PyYAML==6.0.1
requests==2.25.1
requests-oauthlib==2.0.0
rich==13.7.1
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
starlette==0.13.2
typer==0.12.3
typing_extensions==4.12.2
tzdata==2024.1
urllib3==1.26.14
uvicorn==0.16.0
uvloop==0.19.0
watchfiles==0.22.0
watchgod==0.8.2
websocket-client==1.5.1
websockets==12.0
